@import 'tailwindcss';

@theme {
  --font-grotesk: "Space Grotesk", sans-serif;
  --color-roxoFundo: #5C2DD5;
  --color-roxo: #7945FF;
}

.efeito-sombra {
  border: 3px solid black;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.animate-disc {
  animation: girar 0.3s linear;
}

@keyframes girar {
  from { margin-top: 0; }
  to { top: 0; }
}